<div class="left-col">
      <div class="nav-items">
        <h2 style="color:#06def1;">Home</h2>
      </div>
      <div class="nav-items">
        <h2>Explore</h2>
      </div>
      <div class="nav-items">
        <h2>Notifications</h2>
      </div>
      <div class="nav-items">
        <h2>Messages</h2>
      </div>
      <div class="nav-items">
        <h2>Bookmarks</h2>
      </div>
      <div class="nav-items">
        <h2>Lists</h2>
      </div>
      <div class="nav-items">
        <h2>Profile</h2>
      </div>
      <div class="nav-items">
        <h2>More</h2>
      </div>
      <div class="nav-items">
        <button type="submit">Tweet</button>
      </div>
    </div>