<div class="right-col">
    <form action="#" method="POST">
      <input type="text" name="content" placeholder="Search Twitter">
    </form>
    <div class="right-side">
      <h2>Trends for you</h2>
      <div class="trend-contents">
        <p class="trending">Trending worldwide</p>
        <h4>#BreakingNews</h4>
        <div class="breaking-news">
          <p>We are Switch Maven Port Moresby, we speicilize in web app development, system integration
            ledger technology etc.
          </p>
        </div>
      </div>

      <div class="trend-contents">
        <p class="trending">Trending worldwide</p>
        <h4>#BreakingNews</h4>
        <div class="breaking-news">
          <p>Our head office is based in Gordons</p>
        </div>
      </div>

      <div class="trend-contents">
        <p class="trending">Trending worldwide</p>
        <h4>#BreakingNews</h4>
        <div class="breaking-news">
          <p>Come join and be part of a life changing experience in technology with Switch Maven</p>
        </div>
      </div>
      
      <div>
        <p><a href="#">Show more</a></p>
      </div>

    </div>
  
</div>