<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/css/style.css">
  <title></title>
</head>
<body>
    <h1>Login to your Account</h1>
      <div class ="container">
            <h3><%= message %></h3>
          <div id = "main">
            <form action="/login" method="POST">
              <div id ="form">
              USERNAME <input type="text" name="username" required placeholder="enter username"> <br>
              PASSWORD <input type="text" name="password" required placeholder="enter password"> <br>
              <button type="submit">submit</button>
              </div>
            </form>
            <br></br>
              <div id ="back">
                <p><a href="/signup">Create New Account</a></p>
                <p><a href="/">Back to home</a></p>
              </div>
          </div>
      </div>
</body>
</html>
