<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    
    <title>Document</title>
    <style>
body{

background-repeat: cover;
background-image: url('/images/image1.png');
 
}
.container{
 border: 1px solid rgb(167, 162, 162);
 border-radius: 5px;
 justify-content: center;
 display: block;
 border-radius: 8px;
 padding:30px;
 background-color: rgba(19, 214, 214, 0.3);
 width: 500px;
 height: 480px;
 
}
#main{
 display: flex;
 justify-content: center;
 display: block;
 border-radius: 8px;
 padding:25px;
 background-color: rgba(150, 144, 144, 0.3);
 width: 440px;
 height: 300px;
 font-family: Consolas;
 font-size: 16px;
 text-align: center;
}
#welcome{
 text-align: center;
 font-family:Freestyle Script;
 font-size: 30px;
 color: white;
}

h1{
 text-align: center;
 color: rgb(54, 35, 35);
 font-family: Kristen ITC;
 font-size: 52px;
}
#link{
 font-family: Bell MT;
 font-size: 16px;
}
#tweets{
 text-align: center;
 font-family:Bell MT;
 font-size: 15px;
 color: rgb(76, 83, 71);   
}
#intro{
 text-align: center;
 font-family:Freestyle Script;
 font-size: 25px;
 color: rgb(76, 83, 71);   
}

    </style>

</head>
<body>
        <h1>Welcome Twitters</h1>
        <div class = "container">
            <div id = "welcome">
                <p>Whats on your mind?</p>
            </div>
            <div id ="main">
                <hr>
                <div id = "link"> 
                    <div id ="intro">
                    We get to meet and talk about anything here
                    </div>
                   
                    <a href="/create_account">Please log in here</a>       
                </div>
                </hr>     
            </div>
            <div id ="tweets">
                <u>@copyrights 2021 Switch Maven Port Moresby</div></u>
                </div>
        </div>
  
</body>
</html>