<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <h1>WELCOME</h1>
        <hr>
            <a href="/createUser">Create Account</a> | <a href="/createTweet">Tweeeet</a>
        <hr>
       <h2>tweets go here</h2>
​
       <% for (let t of locals.tweets) { %>
            <div class="tweet"><b><%= t.dataValues.User.dataValues.username %>  says: </b> 
                  <%= t.dataValues.content %></div>
        <% } %>
    </div>
<script>

  
  router.get('/', async function(req, res) {
    let tweets = await Tweet.findAll({include: User})
    let data = {tweets}
    res.render('pages/index.ejs', data)
})
</script>

</body>
</html>


